---
Language:        Cpp
BasedOnStyle:  LLVM
Standard: Cpp11
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PointerAlignment: Left
---
